<% layout( 'layout' ) -%>

<h1><%= title %></h1>
<p>Hello. I am holding a fantastic giveaway where I will pay YOU to win a prize!</p>
<p>Prizes include fabulous items selected from my storage unit. Because some of the items cannot be shipped, you must be present to win. And by present, I mean somewhere in the Bay Area.</p>
<p>Don't worry, the prize will not be something gross like a used tire or a dead prostitute.</p>