<% layout( 'layout' ) -%>

<h1><img class="head" src="/images/happy.png"><%= title %></h1>
<p>Hello. I am holding a fantastic giveaway where I pay YOU to win a prize!</p>
<p>I will be paying a total of one bitcoin, to be divided evenly across all raffle tickets.</p>

<p>Prizes include fabulous items selected from my storage unit. Don't worry, you will not win something gross like a used tire or a dead prostitute.</p>

Because some of the items cannot be shipped, you must be present to win. And by present, I mean somewhere in the Bay Area. </p>

