<!DOCTYPE html>
<head>
	<title>Elaine's Reverse Raffle</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="content">
  <%- body %>
</div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</html>
